.foot {
    background-color: #000000;
    font-size: 20px;
    color: #E7E5DF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100% auto;
    margin: 0;
    margin-top: 200px;
    padding: 0;
  }