.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    width: 50px;
  }
  .card-button:hover {
    border: 1px solid #89d631;
    background-color: #89d631;
  }
